# Задание 1

* Вывести информаци о БД
* Вывести поля таблицы БД
* Схема БД

In [15]:
import sqlite3


def result(sql_text):
    conn = sqlite3.connect('tysql.sqlite')
    curs = conn.cursor()
    ex = curs.execute(sql_text)
    return ex

print('Информация про данную БД:')  

sql_text = "SELECT * FROM sqlite_master"
row = result(sql_text).fetchall()
print(row)

Информация про данную БД:
[('table', 'Customers', 'Customers', 2, 'CREATE TABLE Customers\n(\n  cust_id      char(10)  NOT NULL ,\n  cust_name    char(50)  NOT NULL ,\n  cust_address char(50)  NULL ,\n  cust_city    char(50)  NULL ,\n  cust_state   char(5)   NULL ,\n  cust_zip     char(10)  NULL ,\n  cust_country char(50)  NULL ,\n  cust_contact char(50)  NULL ,\n  cust_email   char(255) NULL ,\n  PRIMARY KEY (cust_id)\n)'), ('index', 'sqlite_autoindex_Customers_1', 'Customers', 3, None), ('table', 'OrderItems', 'OrderItems', 4, 'CREATE TABLE OrderItems\n(\n  order_num  int          NOT NULL                      ,\n  order_item int          NOT NULL                      ,\n  prod_id    char(10)     NOT NULL                      ,\n  quantity   int          NOT NULL                      ,\n  item_price decimal(8,2) NOT NULL                      ,\n  PRIMARY KEY (order_num, order_item)                   ,\n  FOREIGN KEY (order_num) REFERENCES Orders (order_num) ,\n  FOREIGN KEY (prod_id) REFERENCES Products (prod_id)\n)'), ('index', 'sqlite_autoindex_OrderItems_1', 'OrderItems', 5, None), ('table', 'Orders', 'Orders', 7, 'CREATE TABLE Orders\n(\n  order_num  int      NOT NULL ,\n  order_date datetime NOT NULL ,\n  cust_id    char(10) NOT NULL ,\n  PRIMARY KEY (order_num)      ,\n  FOREIGN KEY (cust_id) REFERENCES Customers (cust_id)\n)'), ('index', 'sqlite_autoindex_Orders_1', 'Orders', 9, None), ('table', 'Products', 'Products', 10, 'CREATE TABLE Products\n(\n  prod_id    char(10)      NOT NULL ,\n  vend_id    char(10)      NOT NULL ,\n  prod_name  char(255)     NOT NULL ,\n  prod_price decimal(8,2)  NOT NULL ,\n  prod_desc  text          NULL     ,\n  PRIMARY KEY (prod_id)             ,\n  FOREIGN KEY (vend_id) REFERENCES Vendors (vend_id)\n)'), ('index', 'sqlite_autoindex_Products_1', 'Products', 11, None), ('table', 'Vendors', 'Vendors', 12, 'CREATE TABLE Vendors\n(\n  vend_id      char(10) NOT NULL ,\n  vend_name    char(50) NOT NULL ,\n  vend_address char(50) NULL     ,\n  vend_city    char(50) NULL     ,\n  vend_state   char(5)  NULL     ,\n  vend_zip     char(10) NULL     ,\n  vend_country char(50) NULL     ,\n  PRIMARY KEY (vend_id)\n)'), ('index', 'sqlite_autoindex_Vendors_1', 'Vendors', 13, None)]

In [17]:
sql_text = "SELECT name FROM sqlite_master WHERE type = 'table'"
print('Поля в таблице:')
tables = result(sql_text).fetchall()
for el in tables:
    print(el[0])

Поля в таблице:
Customers
OrderItems
Orders
Products
Vendors

In [18]:
tables = [t[0] for t in tables]


print('Схема БД:')
for t in tables:
    print (t)
    sql_text = "PRAGMA table_info(%s)" %t
    for row in result(sql_text).fetchall():
        print(row)

Схема БД:
Customers
(0, 'cust_id', 'char(10)', 1, None, 1)
(1, 'cust_name', 'char(50)', 1, None, 0)
(2, 'cust_address', 'char(50)', 0, None, 0)
(3, 'cust_city', 'char(50)', 0, None, 0)
(4, 'cust_state', 'char(5)', 0, None, 0)
(5, 'cust_zip', 'char(10)', 0, None, 0)
(6, 'cust_country', 'char(50)', 0, None, 0)
(7, 'cust_contact', 'char(50)', 0, None, 0)
(8, 'cust_email', 'char(255)', 0, None, 0)
OrderItems
(0, 'order_num', 'int', 1, None, 1)
(1, 'order_item', 'int', 1, None, 2)
(2, 'prod_id', 'char(10)', 1, None, 0)
(3, 'quantity', 'int', 1, None, 0)
(4, 'item_price', 'decimal(8,2)', 1, None, 0)
Orders
(0, 'order_num', 'int', 1, None, 1)
(1, 'order_date', 'datetime', 1, None, 0)
(2, 'cust_id', 'char(10)', 1, None, 0)
Products
(0, 'prod_id', 'char(10)', 1, None, 1)
(1, 'vend_id', 'char(10)', 1, None, 0)
(2, 'prod_name', 'char(255)', 1, None, 0)
(3, 'prod_price', 'decimal(8,2)', 1, None, 0)
(4, 'prod_desc', 'text', 0, None, 0)
Vendors
(0, 'vend_id', 'char(10)', 1, None, 1)
(1, 'vend_name', 'char(50)', 1, None, 0)
(2, 'vend_address', 'char(50)', 0, None, 0)
(3, 'vend_city', 'char(50)', 0, None, 0)
(4, 'vend_state', 'char(5)', 0, None, 0)
(5, 'vend_zip', 'char(10)', 0, None, 0)
(6, 'vend_country', 'char(50)', 0, None, 0)

# Задание 2

* Вывести все cust_id из таблицы Customers table
* Вывести всю таблицу Customers table
* Список клиентов cust_name (отсортировав их от Z до A)
* Таблицу клиентов и заказов (cust_id и order_num). Отсортировать по клиенту и дате заказа.
* Таблицу (на основе items) с кол-вом и ценною товара. Отсортировать в порядке уменьшения кол-ва товаров
* Товар (из таблицы Products), с ценой 9,49.
* Вывести название товара с ценой в диапазоне от 3 до 6. Отсортировать результат по цене в порядке возрастания.

In [54]:
def execute(sql_text):
    conn = sqlite3.connect('tysql.sqlite')
    curs = conn.cursor()
    curs.execute(sql_text)
    for row in curs.fetchall():
        print(row)

In [55]:
# Список всех cust_id з Customers:

sql_text = """
SELECT cust_id
FROM Customers
"""
print('Список всех cust_id з Customers\n')
#execute_with_print(sql_text)
execute(sql_text)

Список всех cust_id з Customers

('1000000001',)
('1000000002',)
('1000000003',)
('1000000004',)
('1000000005',)

In [56]:
# Вся таблица Customer Table:

sql_text = """
SELECT *
FROM Customers
"""
print('Вся таблица Customer Table:\n')

execute(sql_text)

Вся таблица Customer Table:

('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com')
('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green', None)
('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com')
('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com')
('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None)

In [57]:
# Список клиентов cust_name (отсортировав их от Z до A):

sql_text = """
SELECT cust_name
FROM Customers
ORDER BY cust_name DESC
"""
print('Cust_name сортировка от Z до A\n')
execute(sql_text)

Cust_name сортировка от Z до A

('Village Toys',)
('The Toy Store',)
('Kids Place',)
('Fun4All',)
('Fun4All',)

In [58]:
# Таблица клиентов и заказов (cust_id и order_num). Отсортированые по клиенту и дате заказа:

sql_text = """
SELECT cust_id, order_num
FROM Orders
ORDER BY cust_id, order_date
"""
print('Таблица клиентов и заказов (cust_id и order_num). Отсортированые по клиенту и дате заказа:\n')
execute(sql_text)

Таблица клиентов и заказов (cust_id и order_num). Отсортированые по клиенту и дате заказа:

('1000000001', 20009)
('1000000001', 20005)
('1000000003', 20006)
('1000000004', 20007)
('1000000005', 20008)

In [59]:
# Таблица (на основе items) с кол-вом и ценною товара. Отсортированые в порядке уменьшения по кол-ву товаров:


sql_text = """
SELECT quantity, item_price
FROM OrderItems
ORDER BY quantity DESC
"""

print('Таблица (на основе items) с кол-вом и ценною товара. Отсортированые в порядке уменьшения по кол-ву товаров\n')
execute(sql_text)

Таблица (на основе items) с кол-вом и ценною товара. Отсортированые в порядке уменьшения по кол-ву товаров

(250, 2.49)
(250, 2.49)
(250, 2.49)
(100, 5.49)
(100, 10.99)
(100, 2.99)
(100, 2.99)
(100, 2.99)
(50, 11.49)
(50, 4.49)
(20, 5.99)
(10, 8.99)
(10, 11.99)
(10, 3.49)
(10, 3.49)
(10, 3.49)
(5, 4.99)
(5, 11.99)

In [60]:
# Товар (из таблицы Products), с ценой 9,49:

sql_text = """
SELECT prod_name, prod_price
FROM Products
WHERE prod_price = 9.49
"""
print('Товар с ценой 9,49\n')
execute(sql_text)

Товар с ценой 9,49

('King doll', 9.49)
('Queen doll', 9.49)

In [61]:
# Название товара с ценой в диапазоне от 3 до 6. Отсортировать результат по цене в порядке возрастания.


sql_text = """
SELECT prod_name, prod_price
FROM Products
WHERE prod_price BETWEEN 3 AND 6
ORDER BY prod_price 
"""
print('Название товара с ценой в диапазоне от 3 до 6 (в порядке возрастания) \n')
execute(sql_text)

Название товара с ценой в диапазоне от 3 до 6 (в порядке возрастания)

('Fish bean bag toy', 3.49)
('Bird bean bag toy', 3.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)
('8 inch teddy bear', 5.99)

# Задание 3

* Кол-во товара что было продано
* Кол-во товаров с ценой больше 4
* Алгоритм который выведит 3 самых дрогих товаров в БД
* Посчитать кол-во заказов для каждого клиента
* Вывести список клиентов и их заказов (при помощи join)
* Выполнить два запроса: список товаров цена которых меньше 5; и список товаров цена которых больше/равна 5
(при помощи Union)

In [63]:
# Кол-во товара что было продано:

sql_text = """ SELECT SUM(quantity)
               FROM OrderItems
"""

print('Количество товаров которые были проданы всего:')
execute(sql_text)

Количество товаров которые были проданы всего:
(1430,)

In [65]:
# Кол-во товаров с ценой больше 4

sql_text = """
SELECT count(prod_id) FROM Products
WHERE prod_price > 4
"""
print('Кол-во товаров с ценой больше 4\n')
execute(sql_text)

Кол-во товаров с ценой больше 4

(6,)

In [66]:
# 3 самых дрогих товаров в базе

sql_text = """
SELECT prod_name, prod_price
FROM Products
ORDER BY prod_price DESC
LIMIT 3
"""
print('3 самых дрогих товаров в базе\n')
execute(sql_text)

3 самых дрогих товаров в базе

('18 inch teddy bear', 11.99)
('King doll', 9.49)
('Queen doll', 9.49)

In [67]:
# кол-во заказов для каждого клиента (используя подзапрос)

sql_text= """
SELECT cust_id AS c1, SUM(1)
FROM (SELECT cust_id FROM Orders)
GROUP BY cust_id
"""
print('кол-во заказов для каждого клиента\n')
execute(sql_text)

кол-во заказов для каждого клиента

('1000000001', 2)
('1000000003', 1)
('1000000004', 1)
('1000000005', 1)

In [68]:
# Список клиентов и их заказов (при помощи join)

sql_text = """
SELECT cust_name, order_num
FROM Orders
JOIN Customers on Customers.cust_id=Orders.cust_id
"""
print('Список клиентов и их заказов\n')
execute(sql_text)

Список клиентов и их заказов

('Village Toys', 20005)
('Fun4All', 20006)
('Fun4All', 20007)
('The Toy Store', 20008)
('Village Toys', 20009)

In [70]:
# Список товаров цена которых меньше 5;  список товаров цена которых больше и равна 5 (при помощи UNION)


sql_text = """
SELECT prod_name, prod_price
FROM Products
WHERE prod_price < 5

UNION

SELECT prod_name, prod_price 
FROM Products
WHERE prod_price >= 5
"""
print("Список товаров цена которых меньше 5;  список товаров цена которых больше и равна 5\n")
execute(sql_text)

Список товаров цена которых меньше 5;  список товаров цена которых больше и равна 5

('12 inch teddy bear', 8.99)
('18 inch teddy bear', 11.99)
('8 inch teddy bear', 5.99)
('Bird bean bag toy', 3.49)
('Fish bean bag toy', 3.49)
('King doll', 9.49)
('Queen doll', 9.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)